<main id="main_" class="main_">

    <div class="pagetitle mb-4">
      <h1> <i class="bi bi-graph-up"></i><span class="mx-2">Dashboard</span></h1>
    </div>
  
      <section class="section dashboard">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
  
              <div class="col-xxl-4 col-md-6">
                <div class="card info-card sales-card">
                  <div class="card-body">
                    <h5 class="card-title">Total de alunos</h5>
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-server"></i>
                      </div>
                      <div class="ps-3">
                        <h6>0</h6>
                        <span class="text-secondary small pt-1 fw-bold">0% <i class="bi bi-plus-circle"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xxl-4 col-md-6">
                <div class="card info-card revenue-card">
                  <div class="card-body">
                    <h5 class="card-title">Alunos aprovados</h5>
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-person-square"></i>
                      </div>
                      <div class="ps-3">
                        <h6>0</h6>
                        <span class="text-secondary small pt-1 fw-bold">0% <i class="bi bi-plus-circle"></i></span>
  
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xxl-4 col-md-6">
                <div class="card info-card customers-card">
                  <div class="card-body">
                    <h5 class="card-title">Alunos reprovados</h5>
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi  bi-person-square"></i>
                      </div>
                      <div class="ps-3">
                        <h6>0</h6>
                        <span class="text-secondary small pt-1 fw-bold">0% <i class="bi bi-plus-circle"></i></span>
  
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xxl-4 col-md-6">
                <div class="card info-card sales-card">
                  <div class="card-body">
                    <h5 class="card-title">Pendentes</h5>
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi  bi-bell"></i>
                      </div>
                      <div class="ps-3">
                        <h6>0</h6>
                        <span class="text-secondary small pt-1 fw-bold">0% <i class="bi bi-plus-circle"></i></span>
  
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xxl-4 col-md-6">
                <div class="card info-card revenue-card">
                  <div class="card-body">
                    <h5 class="card-title">Arquivos</h5>
  
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi  bi-journal-text"></i>
                      </div>
                      <div class="ps-3">
                        <h6>0</h6>
                        <span class="text-success small pt-1 fw-bold">8% <i class="bi bi-plus-circle"></i></span>
                      </div>
                    </div>
                  </div>
  
                </div>
              </div>
              <div class="col-xxl-4 col-md-6">
  
                <div class="card info-card sales-card">
  
                  <div class="card-body">
                    <h5 class="card-title">Backup</h5>
  
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-cloud-upload"></i>
                      </div>
                      <div class="ps-3">
                        <h6>0</h6>
                        <span class="text-secondary small pt-1 fw-bold">0% <i class="bi bi-minus"></i></span>
  
                      </div>
                    </div>
  
                  </div>
                </div>
  
              </div>
              </div>
           </div>
           <div class="col-12">
            <div class="card"> 
            </div>
          </div>
        </div>
      </section>
  
    </main>
  