 
    <aside id="asidebar " class="asidebar"  >
      
      <ul class="asidebar-nav" id="sidebar-nav">
        
          <li class="nav-item" routerLink="/sige/sigia/dashboard">
            <a class="nav-link"  routerLinkActive="active">
              <i class="bi bi-graph-up"  id="cor_icone"></i>
              <span>Dashboard</span>
            </a>
          </li>
         
          <li class="nav-item " routerLink="/sige/sigia/aluno/registrar-ou-editar">
            <a class="nav-link"  routerLinkActive="active" routerLink="perfil">
              <i class="bi bi-server" id="cor_icone"></i>
              <span>Registrar Aluno</span>
            </a>
          </li>
        
          <li class="nav-item " routerLink="/sige/sigia/aluno/listagem">
            <a class="nav-link"  routerLinkActive="active" routerLink="perfil">
              <i class="bi bi-person-square" id="cor_icone"></i>
              <span>Listar Alunos</span>
            </a>
          </li>

        
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="arquivo">
              <i class="bi bi-stickies-fill"  id="cor_icone"></i><span>Gestão de Arquivos</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="arquivo">
              <i class="bi bi-cloud-upload"  id="cor_icone"></i><span>Fazer Backup</span>
            </a>
          </li>
        </ul>
    
      </aside>
  